@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400;600;700&display=swap");

body {

  background: transparent;
  font-family: "Oxanium", sans-serif;

  background: transparent;
  font-family: "Oxanium", sans-serif;
  color: white;



}
@keyframes neonPulse {
  0% {
    box-shadow:
      0 0 6px rgba(0, 255, 255, 0.6),
      0 0 12px rgba(0, 255, 255, 0.5),
      0 0 24px rgba(0, 255, 255, 0.4);
    opacity: 0.9;
  }

  50% {
    box-shadow:
      0 0 10px rgba(0, 255, 255, 0.9),
      0 0 20px rgba(0, 255, 255, 0.8),
      0 0 40px rgba(0, 255, 255, 0.7);
    opacity: 1;
  }

  100% {
    box-shadow:
      0 0 7px rgba(0, 255, 255, 0.7),
      0 0 14px rgba(0, 255, 255, 0.6),
      0 0 28px rgba(0, 255, 255, 0.5);
    opacity: 0.95;
  }
}

@keyframes neonFlicker {
  0%, 100% {
    filter: brightness(1);
  }
  97% {
    filter: brightness(1);
  }
  98% {
    filter: brightness(1.2);
  }
  99% {
    filter: brightness(0.85);
  }
}
